<div class="container-fluid" ng-controller="adminController">

<div ng-show="!isSuperAdmin"><span class="pull-left">{{authMsg}}</span></div>

<div ng-show="isSuperAdmin">

<div id="loading_Overlay"></div>
	<div id="loading_img">
		<img src="/survey/images/loading.gif" />
	</div>
	<div class="row-fluid marginDiv">
		<div class="row-fluid col-md-6">
			<label class="lable-align">Add New Admin User&nbsp;&nbsp;</label> 
			<input type="text" name="optional" ng-model="superAdmin" value="" />
			<button class="btn btn-primary" ng-click="addAdmin()">Add</button>			
		</div>
		<div class="col-md-6"><span>{{message}}</span></div>
	</div>

		<br/><br/>
	
	<div class="row-fluid marginDiv">
                            <p class="show-input input-group pull-left">
                                <input type="text" class="pull-left" uib-datepicker-popup="MM/dd/yyyy" ng-model="fromDate" is-open="dpOpenStatus.withoutRequired" />
                                <span class="pull-left">
					                <button type="button" class="cal_icon btn btn-default su_cal_btn" ng-click="setDpOpenStatus('withoutRequired', $event)">
					                  <i class=" glyphicon glyphicon-calendar"></i>
					                </button>
             					</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
							
							<p class="show-input input-group pull-left">
                                <input type="text" class="pull-left" uib-datepicker-popup="MM/dd/yyyy" ng-model="toDate" is-open="dpOpenStatus.withoutRequired1" />
                                <span class="pull-left">
					                <button type="button" class="cal_icon btn btn-default su_cal_btn" ng-click="setDpOpenStatus('withoutRequired1', $event)">
					                  <i class=" glyphicon glyphicon-calendar"></i>
					                </button>
             					</span>&nbsp;&nbsp;
                            </p>
							
		<button class="btn btn-primary" ng-click="searchSurvey()">Search</button>&nbsp;&nbsp;
		<button class="btn btn-primary" ng-click="reportDownload()">Download Report</button>
		<br/><br/>
		<div class="row-fluid marginDivPie container">
			<div class="col-md-3" google-chart chart="myChartObjectSR" on-select="srSelected(selectedItem)" style="height:300px; width:25%;"></div>
			<div class="col-md-4" google-chart chart="myChartObjectSTR" on-select="strSelected(selectedItem)" style="height:300px; width:25%;"></div>
			<div class="col-md-5 pull-right">
				<div class="row-fluid pull-right">
					<input type="text" name="userText" ng-model="userText" value="" />
					<button class="btn btn-primary" ng-click="loadAdminUsers()">Search user</button>	
					<button class="btn btn-primary" ng-click="deactivateUsers()">De-Activate</button>
				</div>
				<div class="row-fluid gridStyle" ng-grid="gridOptions1"></div>
			</div>
		</div>
	
		<br/><br/>
		<div class="container gridStyle" ng-grid="gridOptions"></div>
	 
		</div>
	</div>
</div>