.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
	.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
	.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
	.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
	.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.welcomeDiv{
background-color: #3a20f8;
height:20px;
}

.thanksDiv{
background-color: #41f820;
height:100px;
border:1px solid black;
padding: 5px 0px 5px 2px;
margin-top:25px;
}

.alertDiv{
background-color: #f8cd20;
height:40px;
margin-top:15px;
}

.marginDiv{margin-top:15px;}

.marginDivPie{margin-top:25px;margin-bottom:65px;}

.container{float: left !important; background: #fff; width: 100%;}

.separator{border-bottom:1px solid #d6d6d6;margin-top:2px;}

.borderDiv{border:1px solid black;padding: 5px 0px 5px 2px;margin-top:15px;}

.nopadding {
	padding-left: 2%;
	padding-right: 2%;
}

.text_align_right {
	text-align: right;
}

.text_align_left {
	text-align: left;
}

.text_align_center {
	text-align: center;
	float: auto;
}

body {-webkit-font-smoothing: subpixel-antialiased;-webkit-font-smoothing: antialiased;text-shadow: 0px 0px 1px rgba(0,0,0,0.2);-moz-osx-font-smoothing: grayscale;}
input{-webkit-font-smoothing: subpixel-antialiased;-webkit-font-smoothing: antialiased;text-shadow: 0px 0px 1px rgba(0,0,0,0.2);-moz-osx-font-smoothing: grayscale;}

.mybody {background-color:#F0F0F0; margin:0 auto;}

.lightText {font-weight: bold; color: #666666;}

g text{font-family: 'Oswald', sans-serif !important; }

.clear_both{clear:both;}

.the-word-break {
	overflow-wrap: break-word;
}

.glyphicon.glyphicon-remove-circle {
	font-size: 25px;
}

g text {
	font-family: 'Oswald', sans-serif !important;
	font-weight: bold !important;
	font-size: 12px !important;
}

#loading_Overlay {
	position: absolute;
	height: 100%;
	width: 100%;
}

#loading_Overlay {
	background: grey;
	opacity: .7;
	z-index: 2;
	display: none;
}

#loading_img {
	position: absolute;
	top: 40%;
	left: 45%;
	z-index: 3;
	display: none;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 300px
}

.ngTopPanel {
    background-color: #eaeaea;
    border-bottom: 1px solid #d4d4d4;
    margin-top: 40px;
    position: relative;
    z-index: 1;
}